* {
    box-sizing: border-box;
    font-family: 'Crimson Text', serif;   
    margin: auto;
}

.quote--app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote--div {
    text-align: center;
    width: 60%;
    max-width: 800px;
    background-color: #354D73;
    color: white;
    padding: 2rem 1.3rem;
    margin: 1rem;
    border-radius: 0.6rem;
}

.quote--text {
    font-weight: 400;
    padding-bottom: 1rem;
}

.quote--author {
    font-weight: 400;
    font-style: italic;
    padding-bottom: 1rem;
}

.quote--button {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

footer {
    font-size: 0.8rem;
    color: #102C54;
    text-align: center;
}